#content_nav
  %ul
    - %w(post gallery video).each do |content_type|
      %li{:class => content_type}= link_to content_type.capitalize, admin_new_content_path(content_type)
    %li.archives= link_to "Archives", admin_posts_path
    %li.comments= link_to "Comments", admin_comments_path
    %li.store= link_to "Store", admin_orders_path
    %li.pages= link_to "Pages", admin_pages_path
