= f.buttons do
  = f.commit_button ttt(:save), 'data-disable-with' => "Saving"
  %li.commit
    - if resource.live? and resource.valid?
      = link_to ttt(:view), post_path(resource, resource.slug), :class => "preview", :target => "_blank"
    - elsif resource.pending?
      = link_to_function ttt(:preview), "alert('Please add some content first')", :class => "preview", :target => "_blank"
    - elsif !resource.new_record?
      = link_to ttt(:preview), preview_post_path(resource), :class => "preview", :target => "_blank"
  %li.cancel
    = link_to ttt(:cancel), admin_posts_path, :class => "cancel"
  %li.delete
  - unless resource.new_record?
    = link_to ttt(:delete), admin_post_path(resource), :class => "cancel", :confirm => "Are you absolutely sure?", :method => "delete" unless params[:action]=="new"