= semantic_form_for @post, :url => admin_post_path(@post) do |f|
  
  #form_content{:class => "span-17"}
    %h2 #{ttt "#{params[:action]}"} #{ttt @type.to_s}
    = error_messages_for_post
    = f.semantic_errors
    = f.inputs do
      = f.input :title, :label => ttt(:title), :input_html => { :class => "title" }
      %li.photos-upload
        %label= ttt(:photo).pluralize
        =multi_file_uploader(:url => admin_post_photos_path(@post, :format => :js), :css_parent_class => "photos-upload")
        %p.inline-hints.clear= tt('.upload_hint')
      %li.photos-display-type
        %label= tt '.galery_display'
        - Post.display_types.each do |dt|
          %span{:class => "#{dt} #{'selected' if @post.display_type==dt}"}
            = radio_button :post, :display_type, dt, :title => dt.humanize.titleize
            = image_tag "admin/photos-display-type-#{dt}.png", :alt => dt.humanize.titleize
            = dt.humanize.titleize
        %p.inline-hints.clear Show photos as a slideshow gallery or stacked above each other.
      %li.clear
        = edit_photos_for_assoc(@post)
      = f.input :body, :label => ttt(:'.body'), :as => 'text', :wrapper_html => { :class => "rich-text" }, :required => true

    = render :partial => 'form_buttons', :locals => {:f => f}

  =render :partial => 'form_sidebar', :locals => {:f => f}
  
  .clear
