- today = Date.today
- @date ||= today
- content_for :sidebar do
  %ul.summary
    %li.divider
    %li= pluralize Terryblr::Post.published.count, 'Post'
    %li= link_to "Published", url_for(params.merge(:state => 'published'))
    %li= link_to "Drafts", url_for(params.merge(:state => 'drafted', :month => @date.month, :year => @date.year))
    %li= link_to "Queued", url_for(params.merge(:state => 'queued', :month => @date.month, :year => @date.year))
    %li= link_to_function "Stats", ""
    %li.divider
    %li= link_to "Posts", admin_posts_path
    %li= link_to_function "#TERRYTALK", ""
    %li= link_to_function "#TERRY SHOOTS", ""
    %li.divider
    %li Sort By:
    %li= link_to_function "Date", ""
    %li= link_to_function "Comments", ""
    %li= link_to_function "Likes", ""
    - if params[:state].blank?
      %li.divider
      %li Filter:
      %li
        Month: 
        =select_tag "archive_month", options_for_select(Date::MONTHNAMES.map{|m| [m, Date::MONTHNAMES.index(m)]}, @date.month), :onchange => "window.location = '#{filter_admin_posts_path}?state=#{params[:state]}&month='+this.value+'&year='+$('#archive_year').val()"
      %li
        Year: 
        =select_tag "archive_year", options_for_select((today.year-5..today.year).to_a.reverse, @date.year), :onchange => "window.location = '#{filter_admin_posts_path}?state=#{params[:state]}&year='+this.value+'&month='+$('#archive_month').val()"

%h2 
  Archives: #{pluralize @posts.size, 'Posts'}

= render :partial => 'admin/common/archives'

        
