%div{:id => "comment-#{comment.id}", :class => "comment #{'approved' if comment.isApproved}"}
  %label.comment-select.approved{:for => "check-#{comment.id}"}
    = check_box_tag "", nil, false, :id => "check-#{comment.id}"
    = hidden_field_tag "", comment.id
  / Excerpt block. This is shown by default and hidden when the parent is given the class "expanded"
  .comment-excerpt-block
    .comment-excerpt
      = image_tag comment.author.avatar.cache, :class => "comment-avatar", :size => "32x32"
      %p
        %span.comment-name
          = comment.author.name
          = "(#{comment.author.email})" unless comment.author.email.empty?
          \:
        %span.comment-body= comment.raw_message
    .comment-time
      = distance_of_time_in_words seconds_from_now(Time.parse(comment.createdAt))
    .clear
  / End excerpt block
  / hidden by default, shown by javascript when expanded.
  .comment-header
    .comment-user
      %a{:href => "#", :rel => "userlist"}
        = image_tag comment.author.avatar.cache, :class => "comment-avatar", :size => "32x32"
      .comment-name
        = link_to comment.author.name, comment.author.url, :class => "profile-launcher", "data-profile-username" => comment.author.username, :target => "_blank"
        %span
          = "(#{comment.author.email})" unless comment.author.email.empty?
        %small
          = link_to comment.ipAddress, "?query=ip:#{comment.ipAddress}"
          \.
          = link_to comment.author.url, comment.author.url, :target => "_blank"
    .comment-time
      = distance_of_time_in_words seconds_from_now(Time.parse(comment.createdAt))
    .clear
  / hidden by default, shown by javascript when expanded.
  .comment-body
    .content
      .content-wrapper
        %p= comment.raw_message
    .media
    .comment-meta.clearfix
      %span.thread_link
        = tt "Posted on"
        = link_to(comment.thread.title, "#{comment.thread.link}#comment-#{comment.id}", :target => "_blank")
      %span.thread_filter
        = link_to tt("Show comments only from this thread"), "?query=thread:#{comment.thread.id}"
  / hidden by default, shown by javascript when expanded.
  .comment-footer
    .comment-actions-left
      = tt "This comment is"
      %span.txt-approved= comment.isApproved ? tt('Approved') : tt('Not yet approved')
      %a.add-userlist.blacklist{:href => "#", :style => "display: none; "}
        = tt "Add commenter to"
        %strong
          Blacklist
      %a.add-userlist.whitelist{:href => "#", :style => "display: none; "}
        = tt "Add commenter to"
        %strong 
          Whitelist
    .comment-actions-right
      .button.small.find_all.dropdown
        = tt("Find")
        %ul
          %li
            = link_to tt("All comments from %s" % comment.author.name), "?query=from:#{comment.author.username}"
          %li
            = link_to tt("All comments from %s" % comment.author.email), "?query=email:#{comment.author.email}"
          %li
            = link_to tt("All comments from %s" % comment.ipAddress), "?query=ip:#{comment.ipAddress}"
          %li
            = link_to tt("All comments from this thread"), "?query=thread:#{comment.thread.id}"
      %button.button.small.context= tt("Context")
      %button.button.small.approve{:style => "display:none;"}= tt("Approve")
      %button.button.small.mark_spam= tt("Mark Spam")
      %button.button.small.delete= tt("Delete")
      %button.button.small.reply= tt("Reply")
      %button.button.small.edit= tt("Edit")
    .clear