$("#flash_messages").html("#{escape_javascript(flash_messages)}").hide().fadeIn()
- if @object.valid?
  - if params[:feature_id]
    - list_id = "feature_photo"
    $("##{list_id}_ul").replaceWith("#{escape_javascript(photo_for_assoc(@object, @photoable, list_id))}")
  - else
    - list_id = "photos_list"
    $("##{list_id}_ul").append("#{escape_javascript(photo_for_assoc(@object, @object.photoable, list_id))}")
    $('##{list_id}').sortable('refresh')