!!!
%html
  %head
    %meta{"http-equiv"=>"Content-type", "content"=>"text/html; charset=utf-8"}
    %title #{Settings.app_name}#{": #{@page_title}" if @page_title}
    = facebook_meta_tags
    = csrf_meta_tag
    = include_javascripts :public
    = include_stylesheets :public
    = yield :head
  %body
    .container
      #header
        #search_form
          = semantic_form_for(Terryblr::Post.new, :url => search_path, :html => { :method => :get, :class => "auto-hide-text"}) do |f| 
            =text_field_tag ttc('layouts.public.search'), (params[:search] || ttc('layouts.public.search')), :class => "text"
            =submit_tag ttc('layouts.public.go')

        %h1{:id => 'logo'}=link_to Settings.app_name, root_path

        #nav
          #date=raw Time.zone.now.strftime("<strong>%A</strong>, %B %d, %Y")
          %ul
            %li.home=link_to_unless_current ttc('layouts.public.home'), root_path
            - if defined?(Settings.common_tags)
              %li.diary=link_to_unless_current ttc('layouts.public.diary'), tagged_posts_path(Settings.common_tags.first)

      #body.clear
        = raw(flash_messages)

        = yield

      #footer

      / Google analytics
      %script{ :type => "text/javascript" }
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{Settings.ganalytics.code}']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();